@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.credits {
  perspective: 100px;
}

@keyframes crawl {
  0% {
    transform:rotateX(20deg) translateY(100%) ;
  }
  100% {
    transform:rotateX(25deg) translateY(-100%);
  }
}
